body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

.card-title {
  height: 30px;
}

.card-description {
  height: 80px;
}

.logo {
  width: 110px;
  height: 93px;
}

.discount {
  color: #ff0058;
}

/* Custom links color */
.nav-link {
  --bs-nav-link-color: #d09b4a;
}

.rating span {
  color: #d09b4a;
}

/* Custom "load more" button */
#root > div > main > div > div > div.col-md-9 > button {
  --bs-btn-color: #000;
  --bs-btn-bg: #d09b4a;
  --bs-btn-border-color: #d09b4a;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #caa66e;
  --bs-btn-hover-border-color: #d3aa6c;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #d09b4a;
  --bs-btn-active-border-color: #d09b4a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d09b4a;
  --bs-btn-disabled-border-color: #d09b4a;
}

/* Custom Switch checkbox */

.form-check-input {
  background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23666%27/></svg>") !important;
}
.form-check-input:checked {
  background-color: #d09b4a !important;
  border-color: #6668 !important;
  background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23fff%27/></svg>") !important;
}

.form-check-input:focus {
  border-color: #6668 !important;
  outline: 0;
  box-shadow: none !important;
}

/* Custom Slider */

input[type="range"]::-webkit-slider-thumb {
  background: #d09b4a;
}
